PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_USER=flibusta_user
DB_PASSWORD=your_secure_password
DB_NAME=flibusta_db
DB_SSLMODE=disable
TOR_PROXY=socks5h://tor:9050
FLIBUSTA_URL=http://flibustaongezhld6dibs2dps6vm4nvqg2kp7vgowbu76tzopgnhazqd.onion
STORAGE_PATH=/app/storage/books
SESSION_SECRET=change_me_in_production
TEMPLATES_PATH=/frontentd/templates